.user-list td {
	padding: 10px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}

.user-list td:last-child {
	border-right: 1px solid #000;
}

.user-list tr:last-child td {
	border-bottom: 1px solid #000;
}

.user-list th {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	background: #EEE;
	padding: 5px;
}

.user-list th:last-child {
	border-right: 1px solid #000;
}

.user-list .action {
	color: #F00;
	text-align: center;
	cursor: pointer;
}

.user-form {
	background: #EEE;
	padding: 20px;
	border-radius: 10px;
	display: inline-block;
}

.user-form {
	margin-top: 10px;
}

.user-form div:not(:first-child) {
	margin-top: 10px;
}

.user-form label {
	width: 100px;
	display: inline-block;
}

.user-form input[type="text"] {
	width: 300px;
	display: inline-block;
}

.user-form input[type="button"] {
	display: inline-block;
	width: 70px;
}

.hidden {
	display: none;
}

input[type="button"] {
	display: block;
	margin-top: 10px;
}